var filterPrice = function(value) {
  return parseFloat(isNaN(value) ? 0 : value).toFixed(2);
}
var filterTime = function(value) {
  if (value < 60) {
    return value + '秒'
  } else if (60 <= value && value < 3600) {
    return parseInt(value / 60) + '分钟'
  } else {
    return parseInt(value / 3600) + '小时'
  }
}
var filterDistance = function(value) {
  if (value < 1000) {
    return value +'米'
  } else if (value >= 1000) {
    return parseInt(value / 1000) + '千米'
  }
}
var mdPhone = function(value) {
  var reg = getRegExp('^(\d{3})\d{4}(\d{4})', 'g')
  return value.replace(reg, "$1****$2")
}
module.exports = {
  filterPrice: filterPrice,
  filterTime: filterTime,
  filterDistance: filterDistance,
  mdPhone: mdPhone
}